<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>
<h1>模拟登录</h1>

<div>
	<div><a href="/login?username=zhuguan1" style="color: red;">主管1</a></div>
	<div><a href="/login?username=zuyuan11">组员11</a></div>
	<div><a href="/login?username=zuyuan12">组员12</a></div>
	<div><a href="/login?username=zuyuan13">组员13</a></div>
	<div>&nbsp;</div>
	<div><a href="/login?username=zhuguan2" style="color: red;">主管2</a></div>
	<div><a href="/login?username=zuyuan21">组员21</a></div>
	<div><a href="/login?username=zuyuan22">组员22</a></div>
	<div>&nbsp;</div>
	<div><a href="/login?username=tang" style="color: red;">TANG</a></div>
</div>
</body>
</html>
